---
http_interactions:
- request:
    method: post
    uri: https://api.branch.io/v1/url
    body:
      encoding: UTF-8
      string: '{"sdk":"api","branch_key":"<BRANCH_KEY>"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"url":"https://ENV.test-app.link/LINK1xxx"}'
  recorded_at: Wed, 06 Jul 2016 12:38:37 GMT
- request:
    method: post
    uri: https://api.branch.io/v1/url
    body:
      encoding: UTF-8
      string: '{"sdk":"api","branch_key":"<BRANCH_KEY>","tags":["test"],"channel":"test","feature":"spec","stage":"test","data":{"value":42}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"url":"https://ENV.test-app.link/LINK2xxx"}'
  recorded_at: Wed, 06 Jul 2016 12:38:37 GMT
- request:
    method: post
    uri: https://api.branch.io/v1/url/bulk/<BRANCH_KEY>
    body:
      encoding: UTF-8
      string: "[]"
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Wed, 06 Jul 2016 12:38:38 GMT
[...]
- request:
    method: get
    uri: https://api.branch.io/v1/url?branch_key=<BRANCH_KEY>&url=https://ENV.test-app.link/LINK5xxx
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"fb-2700212854"
    body:
      encoding: UTF-8
      string: '{"channel":"code","feature":"test","tags":["test"],"data":{"$one_time_use":false,"~channel":"code","~creation_source":0,"~feature":"test","~id":"279190676690858328","~tags":["test"],"url":"https://ENV.test-app.link/LINK5xxx"},"type":0,"alias":null}'
  recorded_at: Wed, 06 Jul 2016 12:38:40 GMT
[...]
- request:
    method: put
    uri: https://api.branch.io/v1/url?url=https://ENV.test-app.link/LINK6xxx
    body:
      encoding: UTF-8
      string: '{"sdk":"api","branch_key":"<BRANCH_KEY>","branch_secret":"<BRANCH_SECRET>","channel":"retest"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"channel":"retest","feature":"test","tags":["test","test-update"],"data":{"$one_time_use":false,"~channel":"retest","~creation_source":0,"~feature":"test","~id":"279214820782371109","~tags":["test","test-update"],"url":"https://ENV.test-app.link/LINK6xxx"},"type":0,"alias":null}'
  recorded_at: Wed, 06 Jul 2016 12:38:42 GMT
[...]
- request:
    method: post
    uri: https://api.branch.io/v2/event/standard
    body:
      encoding: UTF-8
      string: '{"sdk":"api","branch_key":"<BRANCH_KEY>"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"error":{"user_data":"missing required field"}}

'
  recorded_at: Tue, 24 Jul 2018 02:29:37 GMT
- request:
    method: post
    uri: https://api.branch.io/v2/event/standard
    body:
      encoding: UTF-8
      string: '{"sdk":"api","branch_key":"<BRANCH_KEY>","name":"PURCHASE","user_data":{"environment":"FULL_APP"},"event_data":{"currency":"USD","shipping":5,"tax":0,"revenue":35,"transaction_id":"Order-11"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"error":{"user_data":["Request with non-mobile OS should have developer_identity
        and\/or browser_fingerprint_id","Request with non-mobile OS should have developer_identity
        and\/or browser_fingerprint_id"],"event_data":{}}}

'
  recorded_at: Tue, 24 Jul 2018 02:29:37 GMT
- request:
    method: post
    uri: https://api.branch.io/v2/event/standard
    body:
      encoding: UTF-8
      string: '{"sdk":"api","branch_key":"<BRANCH_KEY>","name":"PURCHASE","user_data":{"os":"iOS","os_version":"11.0.1","environment":"FULL_APP","developer_identity":"1","app_version":"1.0.1"},"custom_data":{"purchase_location":"Joes
        Liquor Barn","store_pickup":"unavailable"},"event_data":{"currency":"USD","shipping":5,"tax":0,"revenue":35,"transaction_id":"Order-11"},"content_items":[{"$content_schema":"COMMERCE_PRODUCT","$price":100,"$quantity":2,"$sku":"112320","$product_name":"Domaine
        de la Romanee-Conti Romanee-Conti Grand Cru 1990.","$product_category":"FOOD_BEVERAGES_AND_TOBACCO","$product_variant":"750ml
        Current Vintage"}],"metadata":{}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Branch-Event-Extra:
      - "{}"
    body:
      encoding: UTF-8
      string: '{"branch_view_enabled":false}'
  recorded_at: Tue, 24 Jul 2018 02:29:37 GMT
[...]
- request:
    method: post
    uri: https://api.branch.io/v2/event/custom
    body:
      encoding: UTF-8
      string: '{"sdk":"api","branch_key":"<BRANCH_KEY>"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"error":{"user_data":"missing required field"}}

'
  recorded_at: Tue, 24 Jul 2018 03:15:27 GMT
[...]
- request:
    method: post
    uri: https://api.branch.io/v2/event/custom
    body:
      encoding: UTF-8
      string: '{"sdk":"api","branch_key":"<BRANCH_KEY>","name":"PICTURE_SWIPED","user_data":{"os":"iOS","os_version":"11.0.1","environment":"FULL_APP","developer_identity":"1","app_version":"1.0.1"},"custom_data":{"picture_location":"Joes
        Liquor Barn","store_pickup":"unavailable"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Branch-Event-Extra:
      - "{}"
    body:
      encoding: UTF-8
      string: '{"branch_view_enabled":false}'
  recorded_at: Tue, 24 Jul 2018 05:08:44 GMT
recorded_with: VCR 3.0.3
