---
http_interactions:
- request:
    method: post
    uri: https://api.branch.io/v1/url
    body:
      encoding: UTF-8
      string: '{"sdk":"api","branch_key":"<BRANCH_KEY>"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"url":"https://uym7.test-app.link/Get7P7lnQO"}'
  recorded_at: Wed, 25 Jul 2018 16:16:27 GMT
- request:
    method: post
    uri: https://api.branch.io/v1/url
    body:
      encoding: UTF-8
      string: '{"sdk":"api","branch_key":"<BRANCH_KEY>","tags":["test"],"channel":"test","feature":"spec","stage":"test","data":{"value":42}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"url":"https://uym7.test-app.link/SYlZS9lnQO"}'
  recorded_at: Wed, 25 Jul 2018 16:16:27 GMT
- request:
    method: post
    uri: https://api.branch.io/v1/url/bulk/<BRANCH_KEY>
    body:
      encoding: UTF-8
      string: "[]"
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Wed, 25 Jul 2018 16:16:28 GMT
[...]
- request:
    method: get
    uri: https://api.branch.io/v1/url?branch_key=<BRANCH_KEY>&url=https://uym7.test-app.link/2P5ZMemnQO
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"data":{"+url":"https://uym7.test-app.link/2P5ZMemnQO","~tags":["test"],"~creation_source":0,"~id":"550700213116223952","$one_time_use":false,"~channel":"code","~feature":"test","url":"https://uym7.test-app.link/2P5ZMemnQO"},"type":0,"tags":["test"],"feature":"test","channel":"code"}'
  recorded_at: Wed, 25 Jul 2018 16:16:29 GMT
[...]
- request:
    method: put
    uri: https://api.branch.io/v1/url?url=https://uym7.test-app.link/vvb0YimnQO
    body:
      encoding: UTF-8
      string: '{"sdk":"api","branch_key":"<BRANCH_KEY>","branch_secret":"<BRANCH_SECRET>","channel":"retest"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"data":{"+url":"https://uym7.test-app.link/vvb0YimnQO","~creation_source":0,"$one_time_use":false,"~id":"550700216958093103","~channel":"retest","~feature":"test","url":"https://uym7.test-app.link/vvb0YimnQO"},"type":0,"feature":"test","channel":"retest"}'
  recorded_at: Wed, 25 Jul 2018 16:16:30 GMT
- request:
    method: get
    uri: https://api.branch.io/v1/url?branch_key=<BRANCH_KEY>&url=https://uym7.test-app.link/vvb0YimnQO
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"data":{"+url":"https://uym7.test-app.link/vvb0YimnQO","~creation_source":0,"~id":"550700216958093103","$one_time_use":false,"~channel":"retest","~feature":"test","url":"https://uym7.test-app.link/vvb0YimnQO"},"type":0,"feature":"test","channel":"retest"}'
  recorded_at: Wed, 25 Jul 2018 16:16:30 GMT
- request:
    method: post
    uri: https://api.branch.io/v2/event/standard
    body:
      encoding: UTF-8
      string: '{"sdk":"api","branch_key":"<BRANCH_KEY>"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"error":{"user_data":"missing required field"}}

'
  recorded_at: Wed, 25 Jul 2018 16:16:31 GMT
- request:
    method: post
    uri: https://api.branch.io/v2/event/standard
    body:
      encoding: UTF-8
      string: '{"sdk":"api","branch_key":"<BRANCH_KEY>","name":"PURCHASE","user_data":{"environment":"FULL_APP"},"event_data":{"currency":"USD","shipping":5,"tax":0,"revenue":35,"transaction_id":"Order-11"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"error":{"user_data":["Request with non-mobile OS should have developer_identity
        and\/or browser_fingerprint_id","Request with non-mobile OS should have developer_identity
        and\/or browser_fingerprint_id"],"event_data":{}}}

'
  recorded_at: Wed, 25 Jul 2018 16:16:32 GMT
- request:
    method: post
    uri: https://api.branch.io/v2/event/standard
    body:
      encoding: UTF-8
      string: '{"sdk":"api","branch_key":"<BRANCH_KEY>","name":"PURCHASE","user_data":{"os":"iOS","os_version":"11.0.1","environment":"FULL_APP","developer_identity":"1","app_version":"1.0.1"},"custom_data":{"purchase_location":"Joes
        Liquor Barn","store_pickup":"unavailable"},"event_data":{"currency":"USD","shipping":5,"tax":0,"revenue":35,"transaction_id":"Order-11"},"content_items":[{"$content_schema":"COMMERCE_PRODUCT","$price":100,"$quantity":2,"$sku":"112320","$product_name":"Domaine
        de la Romanee-Conti Romanee-Conti Grand Cru 1990.","$product_category":"FOOD_BEVERAGES_AND_TOBACCO","$product_variant":"750ml
        Current Vintage"}],"metadata":{}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Branch-Event-Extra:
      - "{}"
    body:
      encoding: UTF-8
      string: '{"branch_view_enabled":false}'
  recorded_at: Wed, 25 Jul 2018 16:16:32 GMT
[...]
- request:
    method: post
    uri: https://api.branch.io/v2/event/custom
    body:
      encoding: UTF-8
      string: '{"sdk":"api","branch_key":"<BRANCH_KEY>"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"error":{"user_data":"missing required field"}}

'
  recorded_at: Wed, 25 Jul 2018 16:16:34 GMT
- request:
    method: post
    uri: https://api.branch.io/v2/event/standard
    body:
      encoding: UTF-8
      string: '{"sdk":"api","branch_key":"<BRANCH_KEY>","name":"TAKING PICTURE","user_data":{"os":"iOS","os_version":"11.0.1","environment":"FULL_APP","developer_identity":"1","app_version":"1.0.1"},"custom_data":{"picture_location":"Joes
        Liquor Barn"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"error":{"name":"not a valid option","custom_data":{}}}

'
  recorded_at: Wed, 25 Jul 2018 16:16:35 GMT
- request:
    method: post
    uri: https://api.branch.io/v2/event/custom
    body:
      encoding: UTF-8
      string: '{"sdk":"api","branch_key":"<BRANCH_KEY>","name":"TAKING PICTURE","user_data":{"os":"iOS","os_version":"11.0.1","environment":"FULL_APP","developer_identity":"1","app_version":"1.0.1"},"custom_data":{"picture_location":"Joes
        Liquor Barn"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Branch-Event-Extra:
      - "{}"
    body:
      encoding: UTF-8
      string: '{"branch_view_enabled":false}'
  recorded_at: Wed, 25 Jul 2018 16:25:06 GMT
recorded_with: VCR 3.0.3
